/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 14, 2016, 7:02:16 PM
    Author     : Owner
*/

#style {
    position: absolute;
    top: 30%;
    left: 0px;
    right: 0px;
    height: 100px;
    margin-top: -70px;
    background: #1FC4E7;
    color: white;
    padding: 20px;
}
#logoHeader {
    margin: auto;
    width: 95%;
    height: 10%;
    border: 3px solid #1FC4E7;
    padding: 10px;
} 
#logo {
    margin-left: 45%;
    
}
#center {
    margin-left: 40%;
    margin-top: 50px;
    width: 15%;
    
    border: 3px solid #1FC4E7;
    padding: 10px;
}
body{
    background-color:#E6E6FA;
}
